<!-- Footer -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark" style="background-color:#666a6e;">
    <h6 class="navbar-text" style="color: white; font-weight: bold;">
      &copy; Copyright 2024. All rights reserved
    </h6>
  </nav>
</footer>
</body>
</html>
