<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#666a6e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: white; font-weight: bold;">
      <i class="fa-solid fa-dumbbell"></i> Workout Tracker Form
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <% if(title=="Home") { %>
              <a class="nav-link active" href="./home" style="font-weight: bold;">
          <% } else { %>
              <a class="nav-link" href="./home" style="font-weight: bold;">
          <% } %>
              <i class="fa-solid fa-house-chimney" ></i> Home</a> 
        </li>
        <li class="nav-item">
          <% if(title == "Workout Tracker") { %>
            <a class="nav-link active" href="/workoutlist" style="color: white; font-weight: bold;">
          <% } else { %>
            <a class="nav-link" href="/workoutlist" style="color: white; font-weight: bold;">
          <% } %>  
          <i class="fa-solid fa-book"></i> Workout Tracker</a>
        </li>
        <% if(typeof displayName=='string' && displayName) { %>
          <li class="navbar-text">
            <i class="fas fa-lg fa-user"></i>
            Welcome, <%= displayName %> <!--displays a welcome messages with the users name in the nav bar-->
          </li>
          <li class="nav-item">
            <!-- Logout link as a POST request -->
            <a href="/logout" class="nav-link">
              <i class="fas fa-sign-out"></i> 
              Logout
            </a>
          </li>
        <% } else { %>
          <!--login link which is only shown if the user is not logged in -->
          <li class="nav-item">
            <a href="/login" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i>
              Login
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<script>
  // Add event listener to the logout link
  document.getElementById('logoutLink').addEventListener('click', function(event) {
    event.preventDefault();  // Prevent default link behavior

    // Create a form to submit the POST request to logout
    const form = document.createElement('form');
    form.method = 'POST';// set the form method to POST
    form.action = '/logout'; // set the action to the logout route

    // Append the form to the body and submit it
    document.body.appendChild(form);
    form.submit(); // submit the form (this triggers a POST request to log the user out)
  });
</script>
